*.mod
*.cmake
moc_*
*.moc
ui_*
*.depends
*_autogen
qrc_*
*automoc*
CMakeCache.txt
CMakeFiles
DartConfiguration.tcl
Makefile
/bin/*.exe
/lib/*
/include/*
/etc/plugins/*.plg
Testing/
Nemesis15.x.*
NemesisWin.*
/test/*
src/lib/NemesisCore/NemesisCoreMainHeaderConfig.hpp
Nemesis18.x.creator.user
/tests/
